---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Middle from '../components/Middle.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Best web-site">
	<section>
		<Header/>
	</section>
	<section>
        <Middle/>
	</section>
	<section>
        <Footer/>
	</section>
</Layout>


