<footer>
    <div class="flex flex-col items-center pt-10">
       <p class="text-2xl">Created by Eduardo Arede 2024 | All rights reserved</p> 
    </div>
</footer>

<style>
    footer {
        height: 20vh;
        background-image: linear-gradient(to top,  rgba(32, 30, 30, 0.404)50%,rgba(116, 15, 15, 0.404)100%);
		background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
</style>