<header>
    <div class="flex flex-col justify-center items-center p-20">
   <h1 class="text-5xl font-bold">This's the best web site never created. 🚀</h1>
  </div> 
</header>
<style>
    header {
		height: 70vh;
		background-image: linear-gradient(to top,  rgba(32, 30, 30, 0.404)50%,rgba(116, 15, 15, 0.404)100%);
		background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
	}
</style>