<div class="middle">
    <div class="flex flex-col items-center pt-20">
      <h2 class="text-4xl font-semibold">Especial Thanks to AWS for the hosting!!  </h2>
    </div>
    
</div>

<style>
    .middle{
		height: 50vh;
		background-image: linear-gradient(to top,  rgba(32, 30, 30, 0.404)0%,rgba(7, 7, 7, 0.404)100%),url(../../public/aws.png);
		background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
	}
</style>